[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
polars = "*"
seaborn = "*"
matplotlib = "*"
plotly = "*"
chart-studio = "*"
folium = "*"
textblob = "*"

[dev-packages]

[requires]
python_version = "3.13"
